<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Trang ADMIN</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" />
<link rel="stylesheet" href="/styles/style.css" />
<link rel="stylesheet" href="/styles/queries.css" />
</head>
<body class="home">
	<div class="container-fluid p-0">
		<div class="row myNavbar p-lg">
			<div class="col-3 d-flex align-items-center">
				<a href="/"> <img th:src="@{/img/logo.png}" alt="" />
				</a>
			</div>
			<div class="col-9 col-sm-6 p-0">
				<div class="main">
					<ul class="d-flex">
						<li class="d-flex align-items-center"><a href="/">Trang
								chủ</a></li>
						<li class="d-flex align-items-center"><a href="/roomTypes">Phòng</a>
						</li>
						 <li
                sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_RECEPTIONIST')"
                class="d-flex align-items-center"
              >
                <a href="/admin">
                  <div>Admin</div>
                </a>
              </li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-sm-3 p-0">
				<div class="menu pl-1 pr-1">
					<ul class="d-flex justify-content-center justify-content-lg-end">
						<li class="d-flex align-items-center"><a
							th:if="${user==null}" href="/login">
								<div class="login">
									<div>
										<p class="m-0">
											<strong>Đăng nhập</strong>
										</p>
									</div>
								</div>
						</a> <a th:if="${user!=null}" sec:authorize="!hasRole('ROLE_ADMIN')"
							href="/account">
								<p>Tài khoản</p>
						</a>
							<form th:if="${user!=null}" method="POST" th:action="@{/logout}">
								<input type="submit" value="Logout" />
							</form></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-12">
			<div class="space"></div>
		</div>
	</div>

	<div class="container w-50">
		<div class="row">
			<div class="col-12">
				<h1>Thêm dịch vụ mới</h1>


				<form th:object="${service}" th:action="@{/admin/services/add}"
					method="post" id="addNewService">
					<label for="serviceName">Tên dịch vụ:</label> <input type="text"
						th:field="*{name}" class="form-control" placeholder="Tên dịch vụ" />
	<p class="validationError"
						th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}"></p>
					<label for="servicePrice">Giá dịch vụ:</label> <input type="number"
						th:field="*{price}" class="form-control" placeholder="Giá dịch vụ" />
	<p class="validationError"
						th:if="${#fields.hasErrors('price')}"
						th:errors="*{price}"></p>
					<label for="serviceUnit">Đơn vị:</label> <select
						 
						 
						th:field="*{unit}">
						<option 
							th:value="'phòng/đêm'" th:text="'phòng/đêm'"></option>
							<option 
							th:value="'người/đêm'" th:text="'người/đêm'"></option>
					</select> 
<br />
					<button type="submit" class="btn btn-primary">Đăng</button>

				</form>
			</div>
		</div>
	</div>
</body>
</html>
