<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Trang ADMIN</title>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" />
<link rel="stylesheet" href="/styles/style.css" />
<link rel="stylesheet" href="/styles/queries.css" />
</head>
<body class="home">
	<div class="container-fluid p-0">
		<div class="row myNavbar p-lg">
			<div class="col-3 d-flex align-items-center">
				<a href="/"> <img th:src="@{/img/logo.png}" alt="" />
				</a>
			</div>
			<div class="col-9 col-sm-6 p-0">
				<div class="main">
					<ul class="d-flex">
						<li class="d-flex align-items-center"><a href="/">Trang
								chủ</a></li>
						<li class="d-flex align-items-center"><a href="/roomTypes">Phòng</a>
						</li>
						 <li
                sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_RECEPTIONIST')"
                class="d-flex align-items-center"
              >
                <a href="/admin">
                  <div>Admin</div>
                </a>
              </li>
					</ul>
				</div>
			</div>
			<div class="col-12 col-sm-3 p-0">
				<div class="menu pl-1 pr-1">
					<ul class="d-flex justify-content-center justify-content-lg-end">
						<li class="d-flex align-items-center"><a
							th:if="${user==null}" href="/login">
								<div class="login">
									<div>
										<p class="m-0">
											<strong>Đăng nhập</strong>
										</p>
									</div>
								</div>
						</a> <a th:if="${user!=null}" sec:authorize="!hasRole('ROLE_ADMIN')"
							href="/account">
								<p>Tài khoản</p>
						</a>
							<form th:if="${user!=null}" method="POST" th:action="@{/logout}">
								<input type="submit" value="Logout" />
							</form></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-12">
			<div class="space"></div>
		</div>
	</div>

	<div class="container-fluid admin">
		<div class="row ">
			<div class="col-12 col-sm-2 menuList">
				<a href="/admin/roomManagement">Quản lý phòng</a> <br /> <a
					href="/admin/roomTypeManagement">Quản lý loại phòng</a> <br /> <a
					href="/admin/userManagement">Quản lý người dùng</a> <br /> <a
					href="/admin/serviceManagement">Quản lý dịch vụ</a> <br /> <a
					href="/admin/report">Thống kê</a>
			</div>

			<div class="col-12 col-sm-10 content">
				<a class="btn btn-primary" href="/admin/rooms/add" role="button">Thêm
					phòng mới</a>
				<table class="table">
					<thead>
						<tr>

							<th scope="col">Tên phòng</th>

							<th scope="col">Giá mỗi đêm</th>
							<th scope="col">Số người</th>
							<th scope="col">Loại phòng</th>
							<th scope="col">Chỉnh sửa</th>
							<th scope="col">Xóa</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="room : ${rooms}">

							<td th:text=${room.roomName}></td>


							<td th:text=${room.roomType.price}></td>
							<td th:text="${room.roomType.maxCustomer}"></td>

							<td th:text="${room.roomType.roomTypeName}"></td>
							<td><a class="btn btn-primary"
								th:href="@{'/admin/room/update/'+${room.roomId}}"
								role="button">Chỉnh sửa</a></td>
							<td><a class="btn btn-danger"
								th:href="@{'/admin/room/delete/'+${room.roomId}}"
								role="button">Xóa</a></td>
						</tr>

					</tbody>
				</table>

			</div>
		</div>
	</div>
</body>
</html>
